/Library
/obj
/UnityVS.ProjectK.CSharp.csproj
/UnityVS.ProjectK.sln
/UnityVS.ProjectK.v11.suo
/Temp
/Assets/UnityVS
/Editor.exe
/Editor_Data
/UnityVS.ProjectK.CSharp.Editor.csproj
/Assets/GameEditorConfig.txt
/Assets/GameEditorConfig.txt.meta
